.classroom {
    margin-bottom: 80px;
    padding: 80px 0;
    background-color: $secondary-color-brightBlue;

    .row {
        align-items: center;
    }

    .classroom__info {
        h2 {    
            margin-bottom: 28px;
        }

        @media screen and (max-width: $laptop) {
            margin-bottom: 30px;
        }
    }

    .classroom__img {
        img {
            width: 100%;

            @media screen and (max-width: $mobileL) {
                box-shadow: $box-shadow;
            }
        }

    }

    @media screen and (max-width: $laptop) {
        padding: 40px 0;
    }

    @media screen and (max-width: $mobileL) {
        background-color: inherit;
        padding: 0;
    }
}