.footer {

    .footer__logo {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: $tablet) {
            gap: 35px;
            flex-direction: column;
        }
    }

    .footer__line {
        margin: 39px 0;
        width: 100%;
        height: 1px;
        color: #EAEAEA;
    }

    .footer__reference{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        margin-bottom: 50px;

        @media screen and (max-width: $tablet) {
            text-align: center;
            gap: 33px;
            flex-direction: column;
        }   
    }
}