.lessons {
    margin-bottom: 80px;
    
    .row {
        align-items: center;

        @media screen and (max-width: 991px) {
            flex-direction: column-reverse;
        }
    }

    .lessons__img {
        img {
            width: 100%;

            box-shadow: $box-shadow;
        }
    }
    
    .lessons__info {
        h2 {
            margin-bottom: 30px;
        }

        .lessons__info-p:last-child {
            margin-top: 20px;
        }

        @media screen and (max-width: $laptop) {
            margin-bottom: 30px;
        }
    }
}