.opportunities {
    margin-bottom: 67px;

    .row {
        row-gap: 20px;

        @media screen and (max-width: $tablet) {
            display: none;
        }
    }

    .swiper{
        display: none;

        @media screen and (max-width: $tablet) {
            display: block;
        }
    }

    h2 {
        text-align: center;
        margin-bottom: 45px;
    }

    .chet {
        background-color: $secondary-color-brightBlue;
        box-shadow: $box-shadow;
        
        .opportunities__card-img-wrap {
            background-color: $primary-color ;
        }
    }
    .nechet {
        background-color: $secondary-color-brightOrange;
        box-shadow: $box-shadowOrange;

        .opportunities__card-img-wrap {
            background-color: $secondary-color ;
        }
        
    }
    .opportunities__card {
        display: flex;
        gap: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 100%;
        text-align: center;
        padding: 48px 9px 33px 9px;
        height: 320px;
        border-radius: 20px;

        .opportunities__card-img-wrap {
            width: 89px;
            height: 89px;
            border-radius: 50%;
            margin-bottom: 28px;
            
            display: flex;
            justify-content: center;

            img {
                width: 45%;
            }
        }
    }
    
}