.promo {
    margin-bottom: 80px;

    .row{
        align-items: center;
    }
    
    .promo__info{
        h1 {
            font-size: 42px;
            font-weight: 700;
            color: $text-color-darkBlue;
            margin-bottom: 16px;

            @media screen and (max-width: $laptop) {
                font-size: 27px;
            }
        }
        
        p {
            color: $text-color-lightBlue;
            margin-bottom: 19px;

            @media screen and (max-width: $tablet) {
                font-size: 16px;
                margin-bottom: 26px;
            }
        }

        .promo__info__buttons {
            display: flex;
            gap: 20px;

            button {
                font-size: 16px;
                height: 50px;
                border-radius: 12px;
            }

            .promo__info__buttons_primary-button {
                width: 180px;
                background-color: $primary-color;
                color: $text-color-white;
            }
    
            .promo__info__buttons_secondary-button {
                width: 225px;
                background: none;
                
                border: 1px solid $primary-color;
                color: $primary-color;
    
                span {
                    position: relative;
                    margin-right: 30px;
                    
                    
                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 20px;
                        height: 20px;
                        background: url('/public/Promo_Polygon.svg') center no-repeat;
                    }
                }
            }

            .promo__info__buttons_primary-button,
            .promo__info__buttons_secondary-button {
                @media screen and (max-width: $laptop) {
                    width: 100%;
                }
            } 

            @media screen and (max-width: $laptop) {
                width: 100%;
                flex-direction: column;
                gap: 8px;
                margin-bottom: 30px;
            }

            @media screen and (max-width: $tablet) {
                margin-bottom: 30px;
            }
        }
    }
 
    .promo__img {
        img {
            width: 100%;

            &:last-child {
                display: none;
    
                @media screen and (max-width: $tablet) {
                    display: block;
                    box-shadow: $box-shadow;
                }
            }

            &:first-child {
                @media screen and (max-width: $tablet) {
                    display: none;
                }
            }
        }
    }
}